body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.input-container input,
.input-container button {
  margin: 0 5px; /* Add some spacing between elements */
}

#input-title, #input-author {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 30px;
}


#add-book {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

#book-list, #book-recs {
  list-style-type: none;
  padding: 0;
}

#book-list li, #book-recs li {
  background-color: #eeeeee;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#book-list li span, #book-recs li span {
  flex-grow: 1;
  margin-right: 10px;
}

#book-list li button, #book-recs li button {
  background-color: #af4c4c;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}
#book-list li button:hover, #book-recs li button:hover {
  background-color: #d9534f;
}


#book-list li.selected span {
  font-weight: 520;
  color: #001e44;
}
#book-list li.selected {
  background-color: #c5effc;
}

.author-text {
  opacity: 0.7;
}

#recommend {
  display: block;
  margin: 0 auto;
  background-color: #4c93af;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#recommend:hover {
  background-color: deepskyblue;
}

#login {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  background-color: #4285F4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

#login:hover {
  background-color: #2B7DE9;
}

.recommendedBooksTitle {
  display: none; 
}

.recommendedBooksTitle.visible {
  display: block;
}



#book-list li .search-btn, #book-recs li .search-btn {
  background-color: rgb(20, 151, 20);  
  color: white;             
  border: none;             
  margin-right: 10px;       
  padding: 5px 10px;        
  border-radius: 4px;       
}


#book-list li .search-btn:hover, #book-recs li .search-btn:hover {
  background-color: rgb(4, 209, 4);  
}


.clearRecommendations {
  display: none;
}
.clearRecommendations.visible {
  display: block;
  margin: 0 auto;
  background-color: #af7c4c;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clearRecommendations:hover {
  background-color: rgb(156, 5, 0);
}

